<div class="p-d-flex p-jc-center">
    <h1>Real Estate Management System</h1>
</div>
<div class="p-d-flex p-flex-wrap p-jc-center">
    <p-card header="Properties" subheader="Manage your properties" [style]="{width: '360px'}" styleClass="p-card-shadow p-mr-2 p-mb-2">
        <ng-template pTemplate="footer">
            <p-button label="Enter" icon="pi pi-home"></p-button>
        </ng-template>
    </p-card>
    <p-card header="Tenants" subheader="Manage your properties" [style]="{width: '360px'}" styleClass="p-card-shadow p-mr-2 p-mb-2">
        <ng-template pTemplate="footer">
            <p-button label="Enter" icon="pi pi-home"></p-button>
        </ng-template>
    </p-card>
    <p-card header="Leases" subheader="Manage your properties" [style]="{width: '360px'}" styleClass="p-card-shadow p-mr-2 p-mb-2">
        <ng-template pTemplate="footer">
            <p-button label="Enter" icon="pi pi-home"></p-button>
        </ng-template>
    </p-card>
    <p-card header="Finance" subheader="Manage your properties" [style]="{width: '360px'}" styleClass="p-card-shadow p-mr-2 p-mb-2">
        <ng-template pTemplate="footer">
            <p-button label="Enter" icon="pi pi-home"></p-button>
        </ng-template>
    </p-card>
</div>