<form [formGroup]="propertyFormGroup">
  <p-dialog
    [(visible)]="propertyForm"
    (onHide)="onClose()"
    [style]="{ width: '450px' }"
    header="Property Details"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          formControlName="name"
          required
          autofocus
        />
        <small class="p-error" *ngIf="this.propertyFormGroup.get('name').invalid && this.propertyFormGroup.dirty"
          >Name is required.</small
        >
      </div>
      <div class="p-field">
        <label for="address">Address</label>
        <textarea
          id="address"
          pInputTextarea
          formControlName="address"
          required
          rows="3"
          cols="20"
        ></textarea>
        <small class="p-error" *ngIf="this.propertyFormGroup.get('address').invalid  && this.propertyFormGroup.dirty"
          >Address is required.</small
        >
      </div>
      <div class="p-field">
        <label for="propertyType">Type</label>
        <p-dropdown
          id="propertyType"
          formControlName="propertyType"
          inputId="type"
          [options]="propertyType"
          placeholder="Select"
        >
          <ng-template let-option pTemplate="item">
            <span [class]="'product-badge status-' + option.label">{{
              option.label
            }}</span>
          </ng-template>
        </p-dropdown>
        <small class="p-error" *ngIf="this.propertyFormGroup.get('propertyType').invalid  && this.propertyFormGroup.dirty"
        >Choose a property type</small
        >
      </div>

      <div class="p-field">
        <label for="managementStatus">Management Status</label>
        <p-dropdown
          formControlName="managementStatus"
          inputId="managementStatus"
          [options]="managementStatus"
          placeholder="Select"
        >
          <ng-template let-option pTemplate="item">
            <span [class]="'product-badge status-' + option.value">{{
              option.label
            }}</span>
          </ng-template>
        </p-dropdown>
        <small class="p-error" *ngIf="this.propertyFormGroup.get('managementStatus').invalid  && this.propertyFormGroup.dirty"
        >Choose management status</small
        >
      </div>

      <div class="p-field">
        <label for="propertyStatus">Property Status</label>
        <p-dropdown
          formControlName="propertyStatus"
          inputId="propertyStatus"
          [options]="propertyStatus"
          placeholder="Select"
        >
          <ng-template let-option pTemplate="item">
            <span [class]="'product-badge status-' + option.value">{{
              option.label
            }}</span>
          </ng-template>
        </p-dropdown>
        <small class="p-error" *ngIf="this.propertyFormGroup.get('propertyStatus').invalid  && this.propertyFormGroup.dirty"
        >Choose property status</small
        >
      </div>

      <div class="p-formgrid p-grid">
        <div class="p-field p-col-6">
          <label for="price">Common Area Maint. Fee</label>
          <p-inputNumber
            id="price"
            formControlName="maintenanceFee"
            mode="currency"
            currency="USD"
            locale="en-US"
          ></p-inputNumber>
          <small class="p-error" *ngIf="this.propertyFormGroup.get('maintenanceFee').invalid  && this.propertyFormGroup.dirty"
          >Set maint fee</small
          >
        </div>

        <div class="p-field p-col">
          <label for="builtDate">Date Constructed</label>
          <p-calendar
            inputId="builtDate"
            formControlName="builtDate"
            appendTo="body"
          ></p-calendar>
          <small class="p-error" *ngIf="this.propertyFormGroup.get('builtDate').invalid  && this.propertyFormGroup.dirty"
          >Select built date</small
          >
        </div>

      </div>

    </ng-template>

    <ng-template pTemplate="footer">

      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        [disabled]="this.propertyFormGroup.invalid"
        (click)="onSubmit()"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<app-bulk-unit
  #bulkUnitDialog
  (bulkUnitEmitter)="propertyFormEmitter.emit('refresh')"
></app-bulk-unit>
