<p-dialog
  [(visible)]="convertTenantForm"
  (onHide)="onClose()"
  [style]="{ width: '450px' }"
  styleClass="p-fluid"
>
  <ng-template pTemplate="header"> Add Tenant </ng-template>

  <form [formGroup]="leaseFormGroup">
    <label for="name">Name </label>
    <input type="text" pInputText formControlName="unitId" />
    <label for="username">Username </label>
    <input type="text" pInputText formControlName="tenantId" />
    <label for="password">Password (min 8 character) </label>
    <input type="text" pInputText formControlName="rent" />
  </form>

  <form [formGroup]="contactFormGroup">
    <label for="contactNumber">Contact Number </label>
    <input type="text" pInputText formControlName="contactNumber" />
    <label for="contactEmail">Email </label>
    <input type="text" pInputText formControlName="contactEmail" />
  </form>

  <form [formGroup]="tenantFormGroup">
    <label for="notes">Notes </label>
    <textarea pInputTextarea formControlName="tenantId"></textarea>
  </form>

  <p-footer>
    <button
      pButton
      pRipple
      label="Submit"
      icon="pi pi-check"
      class="p-button-text"
      (click)="onSubmit()"
      [disabled]="this.leaseFormGroup.invalid || this.contactFormGroup.invalid"
    ></button>
  </p-footer>
</p-dialog>
