<p-toast></p-toast>

<app-tenant-form
  [tenantForm]="tenantForm"
  (tenantFormEmitter)="onTenantFormClose($event)"
></app-tenant-form>

<app-convert-tenant-form
  [convertTenantForm]="convertTenantForm"
  [tenant]="tenant"
  (convertTenantFormEmitter)="onConvertTenantFormClose($event)"
></app-convert-tenant-form>

<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success p-mr-2"
      (click)="showTenantForm()"
    ></button>
    <span class="p-buttonset">
      <button
        pButton
        type="button"
        label="Potential"
        (click)="showPotentialTenant()"
      ></button>
      <button
        pButton
        type="button"
        label="Active"
        (click)="showActiveTenant()"
      ></button>
      <button
        pButton
        type="button"
        label="All"
        (click)="showAllTenant()"
      ></button>
    </span>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="tenants"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="[
      'name',
    ]"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">Manage Potential Tenants</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="assignedAgent">
        Assigned Sales Agent <p-sortIcon field="assignedAgent"></p-sortIcon>
      </th>
      <th>Tenant Status</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tenant>
    <tr>
      <td>
        <p-tableCheckbox [value]="tenant"></p-tableCheckbox>
      </td>
      <td>{{ tenant.user.name }}</td>
      <td>{{ tenant.assignedAgent.name }}</td>
      <td>{{ tenant.tenant.tenantStatus }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editTenant(tenant)"
        ></button>
        <button
          pButton
          pRipple
          label="Convert"
          class="p-button-rounded p-button-warning"
          (click)="showConvertTenantForm(tenant)"
          *ngIf="tenant.tenant.tenantStatus == 'POTENTIAL'"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{ tenants ? tenants.length : 0 }} tenants.
    </div>
  </ng-template>
</p-table>

<!--
<p-dialog
  [(visible)]="tenantDialog"
  [style]="{ width: '450px' }"
  header="tenant Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="tenant.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !tenant.name"
        >Name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="address">Address</label>
      <textarea
        id="address"
        pInputTextarea
        [(ngModel)]="tenant.address"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
    <div class="p-field">
      <label for="type">Type</label>
      <p-dropdown
        [(ngModel)]="tenant.tenantType"
        inputId="type"
        [options]="tenantType"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.label">{{
            option.label
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-field">
      <label for="managementStatus">Management Status</label>
      <p-dropdown
        [(ngModel)]="tenant.managementStatus"
        inputId="managementStatus"
        [options]="managementStatus"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{
            option.label
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-field">
      <label for="tenantStatus">tenant Status</label>
      <p-dropdown
        [(ngModel)]="tenant.tenantStatus"
        inputId="tenantStatus"
        [options]="tenantStatus"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{
            option.label
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="price">Common Area Maint. Fee</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="tenant.maintenanceFee"
          mode="currency"
          currency="USD"
          locale="en-US"
        ></p-inputNumber>
      </div>

      <div class="p-field p-col">
        <label for="builtDate">Date Constructed</label>
        <p-calendar
          inputId="builtDate"
          [(ngModel)]="tenant.builtDate"
          appendTo="body"
        ></p-calendar>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="savetenant()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
-->
