<p-toast></p-toast>

<app-property-form
  [property]="property"
  (propertyFormEmitter)="refreshProperties()"
  #propertyFormDialog
></app-property-form>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="propertyFormDialog.showDialog()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="properties"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
    ]"
    [(selection)]="selected"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Property</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="propertyType">
          Property Type <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="address">
          Address <p-sortIcon field="address"></p-sortIcon>
        </th>
        <th>
          Total Units / Leased Units
        </th>
        <th>
          Management Status
        </th>
        <th></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th><p-columnFilter type="text" field="propertyType"></p-columnFilter></th>
        <th>
          <p-columnFilter type="text" field="address"></p-columnFilter>
        </th>
        <th></th>
        <th>
        </th>
        <th>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-property>
      <tr>
        <td>
          <a [routerLink]="['/property', property.propertyId, 'unit']">
            {{ property.name }}</a
          >
        </td>
        <td>{{ property.propertyType }}</td>
        <td>{{ property.address }}</td>
        <td>
          {{ property.units ? property.units.length : 0 }} /
          {{ property.leasedUnits }}
        </td>
        <td>{{ property.managementStatus }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="propertyFormDialog.showDialog(property)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-inbox"
            class="p-button-rounded p-button-warning"
            (click)="archiveProperty(property)"
            *ngIf="property.leasedUnits == 0"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ properties ? properties.length : 0 }} properties.
      </div>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


