<div class="p-grid">
  <div class="p-col" *ngIf="role == 'ROLE_SUPER'">
    <p-card header="Admin">
      <p-button [routerLink]="['/admin']">Enter</p-button>
    </p-card>
  </div>
  <div class="p-col" *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_SUPER'">
    <p-card header="Properties">
      <p-button [routerLink]="['/property']">Enter</p-button>
    </p-card>
  </div>
  <div class="p-col" *ngIf="role == 'ROLE_SALES' || role == 'ROLE_SUPER'">
    <p-card header="Tenants">
      <p-button [routerLink]="['/tenant']"> Enter </p-button>
    </p-card>
  </div>
  <div class="p-col" *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_SUPER'">
    <p-card header="Amenities">
      <p-button [routerLink]="['/amenities']"> Enter </p-button>
    </p-card>
  </div>
  <div class="p-col" *ngIf="role == 'ROLE_TENANT' || role == 'ROLE_SUPER'">
    <p-card header="Request Amenity">
      <p-button (click)="tenantRequestAmenity.showDialog()"> Enter </p-button>
    </p-card>
  </div>
  <div class="p-col" *ngIf="role == 'ROLE_TENANT' || role == 'ROLE_SUPER'">
    <p-card header="Upload Payment">
      <p-button (click)="tenantPayment.showDialog()"> Enter </p-button>
    </p-card>
  </div>
</div>
<app-tenant-request-amenity #tenantRequestAmenity></app-tenant-request-amenity>
<app-tenant-payment #tenantPayment></app-tenant-payment>
<p-toast></p-toast>
