<p-toast></p-toast>

<app-bulk-unit
  [bulkUnit]="bulkUnit"
  [propertyId]="propertyId"
  (bulkUnitEmitter)="onBulkUnitClose($event)"
></app-bulk-unit>

<app-edit-unit #editUnit (editUnitEmitter)="refreshUnits()"></app-edit-unit>
<app-historical-rent #historicalRent></app-historical-rent>

<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="Back to Properties"
      icon="pi pi-arrow-left"
      class="p-button-warning p-mr-2"
      [routerLink]="['/property']"
    ></button>
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success p-mr-2"
      (click)="showBulkUnit(propertyId)"
    ></button>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="units"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="[
      'unitNumber',
    ]"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">Manage unit</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Search by unit number"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="unitNumber">
        Unit Number <p-sortIcon field="unitNumber"></p-sortIcon>
      </th>
      <th pSortableColumn="floorArea">
        Floor Area <p-sortIcon field="floorArea"></p-sortIcon>
      </th>
      <th>Current Leasee</th>
      <th>Lease Start</th>
      <th>Lease End</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unit>
    <tr>
      <td>{{ unit.unitNumber }}</td>
      <td>{{ unit.floorArea }}</td>
      <td>{{ unit.lease != null ? unit.lease.tenantName : "N/A" }}</td>
      <td>{{ unit.lease != null ? unit.lease.startDate : "N/A" }}</td>
      <td>{{ unit.lease != null ? unit.lease.endDate : "N/A" }}</td>

      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="this.editUnit.showEditUnit(unit.unitId)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-chart-line"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="this.historicalRent.showDialog(unit.unitId)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{ units ? units.length : 0 }} units.
    </div>
  </ng-template>
</p-table>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
